/*
****************************************
* Status bar
****************************************
*/
#workbench\.parts\.statusbar {
  --status-bar-height: 22px;
  --status-item-base-inline-offset: 3px;
  position: relative;
  outline: none;
  font-size: 14px;
  color: #dddddd !important;

  &::after {
    display: none;
  }

  > .left-items,
  > .right-items {
    display: contents;
  }
}

/*
****************************************
* Vim
****************************************
*/
#vscodevim\.vim\.primary {
  z-index: var(--vim-mode-order);
  order: var(--vim-mode-order);
  position: relative;
  padding-right: calc(var(--status-bar-height) / 2);
  background: transparent !important;
  --bg-color: var(--vim-normal-color);

  > a {
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0;
    font-weight: 600;
    letter-spacing: .75px;
    background: var(--bg-color);
  }

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    right: 0px;
    width: calc(var(--status-bar-height) / 2 + 1px);
    height: calc(100% + 2px);
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
    background: var(--bg-color);
  }

  &[aria-label="-- INSERT --"] {
    --bg-color: var(--vim-insert-color);
  }

  &[aria-label="-- VISUAL --"],
  &[aria-label="-- VISUAL LINE --"] {
    --bg-color: var(--vim-visual-color);
  }

  &[aria-label^=":"] {
    --bg-color: var(--vim-command-color);
  }

  &[aria-label^="/"],
  &[aria-label^="-- EASYMOTION"] {
    --bg-color: var(--vim-search-color);
  }
}

#vscodevim\.vim\.showcmd {
  z-index: var(--vim-command-order);
  order: var(--vim-command-order);
  margin-right: auto;

  > a {
    box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .75px;
  }
}

/*
****************************************
* source control
****************************************
*/
#status\.scm\.0 {
  --order: var(--source-control-order);
  z-index: var(--order);
  order: var(--order);
  position: relative;
  left: calc(var(--status-item-base-inline-offset) * (calc(var(--right-items-count) - calc(var(--order) - var(--left-items-count)))));
  padding-inline: calc(var(--status-bar-height) / 2);
  margin-right: 0;
  --bg-color: var(--vim-normal-color);

  > a {
    box-sizing: border-box;
    padding: 2px 8px 0;
    margin: 0;
    font-weight: 600;
    letter-spacing: .75px;
    background: var(--bg-color);

    > .codicon {
      position: relative;
      bottom: 1px;
      font-weight: 600;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -1px;
    width: calc(var(--status-bar-height) / 2 + 1px);
    height: calc(100% + 2px);
    background: var(--bg-color);
  }

  &::before {
    right: 0;
    clip-path: polygon(100% 0%, 0 50%, 100% 100%, 0 100%, 0 0);
  }

  &::after {
    left: 0;
    clip-path: polygon(100% 0%, 0 50%,100% 100%);
  }

  #workbench\.parts\.statusbar:has(#vscodevim\.vim\.primary[aria-label="-- INSERT --"]) & {
    --bg-color: var(--vim-insert-color);
  }

  #workbench\.parts\.statusbar:has(
    #vscodevim\.vim\.primary[aria-label="-- VISUAL --"],
    #vscodevim\.vim\.primary[aria-label="-- VISUAL LINE --"]
  ) & {
    --bg-color: var(--vim-visual-color);
  }

  #workbench\.parts\.statusbar:has(#vscodevim\.vim\.primary[aria-label^=":"]) & {
    --bg-color: var(--vim-command-color);
  }

  #workbench\.parts\.statusbar:has(#vscodevim\.vim\.primary[aria-label^="/"], #vscodevim\.vim\.primary[aria-label^="-- EASYMOTION"]) & {
    --bg-color: var(--vim-search-color);
  }
}

/*
****************************************
* editor selection
****************************************
*/
#status\.editor\.selection {
  --order: var(--editor-selection-order);
  z-index: var(--order);
  order: var(--order);
  position: relative;
  left: calc(var(--status-item-base-inline-offset) * (calc(var(--right-items-count) - calc(var(--order) - var(--left-items-count)))));
  inline-size: 180px;
  padding-inline: calc(var(--status-bar-height) / 2);
  margin-right: 0;
  --bg-color: var(--color-status-bar-item);

  > a {
    justify-content: center;
    box-sizing: border-box;
    padding: 2px 8px 0;
    margin: 0;
    font-weight: 600;
    background: var(--bg-color);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -1px;
    width: calc(var(--status-bar-height) / 2 + 1px);
    height: calc(100% + 2px);
    background: var(--bg-color);
  }

  &::before {
    right: 0;
    clip-path: polygon(100% 0%, 0 50%, 100% 100%, 0 100%, 0 0);
  }

  &::after {
    left: 0;
    clip-path: polygon(100% 0%, 0 50%,100% 100%);
  }
}

/*
****************************************
* problems
****************************************
*/
#status\.problems {
  --order: var(--problems-order);
  z-index: var(--order);
  order: var(--order);
  position: relative;
  left: calc(var(--status-item-base-inline-offset) * (calc(var(--right-items-count) - calc(var(--order) - var(--left-items-count)))));
  padding-inline: calc(var(--status-bar-height) / 2);
  margin-right: 0;
  --bg-color: var(--color-status-bar-item);

  > a {
    box-sizing: border-box;
    padding: 2px 8px 0;
    margin: 0;
    font-weight: 600;
    letter-spacing: .75px;
    background: var(--bg-color);

    > .codicon {
      position: relative;
      bottom: 1px;
      font-weight: 600;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -1px;
    width: calc(var(--status-bar-height) / 2 + 1px);
    height: calc(100% + 2px);
    background: var(--bg-color);
  }

  &::before {
    right: 0;
    clip-path: polygon(100% 0%, 0 50%, 100% 100%, 0 100%, 0 0);
  }

  &::after {
    left: 0;
    clip-path: polygon(100% 0%, 0 50%,100% 100%);
  }
}

/*
****************************************
* clock
****************************************
*/
#Compulim\.vscode-clock {
  --order: var(--clock-order);
  z-index: var(--order);
  order: var(--order);
  position: relative;
  left: calc(var(--status-item-base-inline-offset) * (calc(var(--right-items-count) - calc(var(--order) - var(--left-items-count)))));
  padding-left: calc(var(--status-bar-height) / 2);
  margin-right: 0;
  --bg-color: var(--color-status-bar-item);

  > a {
    box-sizing: border-box;
    padding: 2px 8px 0;
    margin: 0;
    font-weight: 600;
    letter-spacing: .75px;
    background: var(--bg-color);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: calc(var(--status-bar-height) / 2 + 1px);
    height: calc(100% + 2px);
    background: var(--bg-color);
    clip-path: polygon(100% 0%, 0 50%,100% 100%);
  }
}

/*
****************************************
* github copilot
****************************************
*/
#GitHub\.copilot\.status {
  z-index: var(--github-copilot-order);
  order: var(--github-copilot-order);
  position: relative;
  padding-left: calc(var(--status-bar-height) / 2);
  margin-right: 0;
  --bg-color: var(--color-status-bar-item);

  > a {
    box-sizing: border-box;
    justify-content: center;
    inline-size: 40px;
    padding: 0;
    margin: 0;
    font-weight: 600;
    letter-spacing: .75px;
    background: var(--bg-color);
  }

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0px;
    width: calc(var(--status-bar-height) / 2 + 1px);
    height: calc(100% + 2px);
    clip-path: polygon(100% 0%, 0 50%,100% 100%);
    background: var(--bg-color);
  }
}

/*
****************************************
* hidden sections
****************************************
*/
#status\.scm\.1,
#status\.feedback,
#status\.notifications {
  display: none;
}