:root {
  --vim-normal-color: hsla(160, 20%, 35%, 1);
  --vim-insert-color: hsla(338, 23%, 37%, 1); /* #7f4a5a */
  --vim-visual-color: hsla(25, 90%, 45%, 1);  /* #da620b */
  --vim-command-color: hsla(300, 15%, 35%, 1); /* #674c67 */
  --vim-search-color: hsla(10, 50%, 45%, 1); /* #ac4d39 */
  --quick-input-widget-bg: hsla(270, 20%, 35%, 1);
  --quick-input-widget-textfield-bg: hsla(300, 15%, 35%, 1);

  /* left items */
  --left-items-count: 2;
  --vim-mode-order: 1;
  --vim-command-order: 2;

  /* right items */
  --right-items-count: 4;
  --source-control-order: 3;
  --editor-selection-order: 4;
  --problems-order: 5;
  --clock-order: 6;
  /* --github-copilot-order: 7;  */ /* NOTE: not in used */

  --color-no-use-candidate1: #725a7a;
  --color-no-use-candidate2: #c56c86;
  --color-no-use-candidate2: #6c938a;

  --color-status-bar-segment-1: #354f52;
  --color-status-bar-segment-2: #2f3e46;

  --color-attribute: hsla(280, 60%, 80%, 1); /* Lavender */
  --background-attribute: hsla(280, 60%, 80%, 0.2);
  --color-builtin: hsla(340, 80%, 75%, 1); /* Pink */
  --background-builtin: hsla(340, 80%, 75%, 0.2);
  --color-class: hsla(210, 90%, 75%, 1); /* Sky */
  --background-class: hsla(210, 90%, 75%, 0.2);
  --color-function: hsla(30, 90%, 75%, 1); /* Peach */
  --background-function: hsla(30, 90%, 75%, 0.2);
  --color-property: hsla(320, 60%, 75%, 1); /* Mauve */
  --background-property: hsla(320, 60%, 75%, 0.2);
  --color-snippet: hsla(120, 40%, 75%, 1); /* Green */
  --background-snippet: hsla(120, 50%, 75%, 0.2);
  --color-tag: hsla(180, 60%, 75%, 1); /* Teal */
  --background-tag: hsla(180, 60%, 75%, 0.2);
  --color-boolean: hsla(50, 90%, 75%, 1); /* Yellow */
  --background-boolean: hsla(50, 90%, 75%, 0.2);
  --color-enum: hsla(30, 80%, 75%, 1); /* Orange */
  --background-enum: hsla(30, 80%, 75%, 0.2);
  --color-event: hsla(0, 70%, 75%, 1); /* Red */
  --background-event: hsla(0, 70%, 75%, 0.2);
  --color-field: hsla(240, 100%, 85%, 1); /* Blue */
  --background-field: hsla(240, 100%, 85%, 0.2);
  --color-interface: hsla(270, 10%, 75%, 1); /* Taupe */
  --background-interface: hsla(270, 10%, 75%, 0.2);
  --color-key: hsla(10, 80%, 85%, 1); /* Flamingo */
  --background-key: hsla(10, 80%, 85%, 0.2);
  --color-namespace: hsla(220, 60%, 75%, 1); /* Periwinkle */
  --background-namespace: hsla(220, 60%, 75%, 0.2);
  --color-null: hsla(10, 60%, 90%, 1); /* Rosewater */
  --background-null: hsla(10, 60%, 90%, 0.2);
  --color-number: hsla(280, 60%, 90%, 1); /* Lavender, lighter */
  --background-number: hsla(300, 100%, 90%, 0.2);
  --color-object: hsla(10, 80%, 85%, 1); /* Flamingo, lighter */
  --background-object: hsla(10, 80%, 85%, 0.2);
  --color-operator: hsla(270, 10%, 50%, 1); /* Taupe, darker */
  --background-operator: hsla(270, 10%, 50%, 0.2);
  --color-reference: hsla(50, 90%, 85%, 1); /* Yellow, lighter */
  --background-reference: hsla(50, 90%, 85%, 0.2);
  --color-string: hsla(120, 50%, 85%, 1); /* Green, lighter */
  --background-string: hsla(120, 50%, 85%, 0.2);
  --color-struct: hsla(210, 90%, 65%, 1); /* Sky, darker */
  --background-struct: hsla(210, 90%, 65%, 0.2);
  --color-text: hsla(340, 80%, 65%, 1); /* Pink, darker */
  --background-text: hsla(340, 80%, 65%, 0.2);
  --color-type-parameter: hsla(50, 90%, 85%, 1); /* Yellow, darker */
  --background-type-parameter: hsla(50, 90%, 85%, 0.2);
  --color-unit: hsla(240, 100%, 85%, 1); /* Blue, lighter */
  --background-unit: hsla(240, 100%, 85%, 0.2);
}