[user]
    name = Xibo Wang
    email = xibowangmelb@gmail.com
		signingkey = FA9D0F0693B9428F
    
[includeIf "gitdir:~/work"]
    path = ~/.gitconfig-work

[trace2]
	eventTarget = af_unix:dgram:/tmp/olly-git-trace2.sock
	configparams = remote.origin.url
[core]
	pager = diff-so-fancy | less --tabs=4 -RF
	editor = nvim
[interactive]
	diffFilter = diff-so-fancy --patch
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[maintenance]
	repo = /Users/xibowang/work/canva
	repo = /Users/xibowang/work/xibo-wang-dotfiles
