:root {
  --vim-normal-color: #52796f;
  --vim-insert-color: #6D3C52;
  --vim-visual-color: #db6904;
  --vim-command-color: #6E546C;
  --vim-search-color: #ab4d35;
  --quick-input-widget-bg1: #305352;
  --quick-input-widget-bg: #574963;
  --quick-input-widget-textfield-bg: #6E546C;
  --vim-mode-order: 1;
  --vim-command-order: 2;
  --source-control-order: 3;
  --editor-selection-order: 4;
  --problems-order: 5;
  --github-copilot-order: 8;
  --clock-order: 6;
  --battery-order: 7;

  --color-attribute: #ddb6f2; /* Lavender */
  --background-attribute: rgba(221, 182, 242, 0.2);
  --color-builtin: #f28fad; /* Pink */
  --background-builtin: rgba(242, 143, 173, 0.2);
  --color-class: #96cdfb; /* Sky */
  --background-class: rgba(150, 205, 251, 0.2);
  --color-function: #f8bd96; /* Peach */
  --background-function: rgba(248, 189, 150, 0.2);
  --color-property: #f5c2e7; /* Mauve */
  --background-property: rgba(245, 194, 231, 0.2);
  --color-snippet: #abe9b3; /* Green */
  --background-snippet: rgba(171, 233, 179, 0.2);
  --color-tag: #89dceb; /* Teal */
  --background-tag: rgba(137, 220, 235, 0.2);
  --color-boolean: #f9e2af; /* Yellow */
  --background-boolean: rgba(249, 226, 175, 0.2);
  --color-enum: #f5a97f; /* Orange */
  --background-enum: rgba(245, 169, 127, 0.2);
  --color-event: #f2cdcd; /* Red */
  --background-event: rgba(242, 205, 205, 0.2);
  --color-field: #c9cbff; /* Blue */
  --background-field: rgba(201, 203, 255, 0.2);
  --color-interface: #c3bac6; /* Taupe */
  --background-interface: rgba(195, 186, 198, 0.2);
  --color-key: #fadad1; /* Flamingo */
  --background-key: rgba(250, 218, 209, 0.2);
  --color-namespace: #a4b9ef; /* Periwinkle */
  --background-namespace: rgba(164, 185, 239, 0.2);
  --color-null: #f5e0dc; /* Rosewater */
  --background-null: rgba(245, 224, 220, 0.2);
  --color-number: #f9c2ff; /* Lavender, lighter */
  --background-number: rgba(249, 194, 255, 0.2);
  --color-object: #fadad1; /* Flamingo, lighter */
  --background-object: rgba(250, 218, 209, 0.2);
  --color-operator: #c3bac6; /* Taupe, darker */
  --background-operator: rgba(195, 186, 198, 0.2);
  --color-reference: #f9e2af; /* Yellow, lighter */
  --background-reference: rgba(249, 226, 175, 0.2);
  --color-string: #abe9b3; /* Green, lighter */
  --background-string: rgba(171, 233, 179, 0.2);
  --color-struct: #96cdfb; /* Sky, darker */
  --background-struct: rgba(150, 205, 251, 0.2);
  --color-text: #f28fad; /* Pink, darker */
  --background-text: rgba(242, 143, 173, 0.2);
  --color-type-parameter: #f9e2af; /* Yellow, darker */
  --background-type-parameter: rgba(249, 226, 175, 0.2);
  --color-unit: #c9cbff; /* Blue, lighter */
  --background-unit: rgba(201, 203, 255, 0.2);

}