.editor-group-watermark {
  max-width: 800px !important;

  .letterpress {
    border-radius: 50%;
    background-image: url(https://camo.githubusercontent.com/d854ad5661ff59af426bd66b7a8049a53361c4e5abd628875d1fae271d383ad6/68747470733a2f2f6172742e706978696c6172742e636f6d2f7372323731326162306233356563642e676966) !important;
  }
}